    <footer>
        <div class="container">
            <p>&copy; 2024 Minimal Blog. Built with Node.js, Express, EJS & PostgreSQL.</p>
        </div>
    </footer>
    
    <!-- Include dropdown.js only if user is logged in -->
    <% if (currentUser) { %>
        <script src="/js/dropdown.js"></script>
    <% } %>

    
</body>
</html>